

html {
    display: grid;
    min-height: 100%;
  }
  
  body {
    display: grid;
    background: linear-gradient(to bottom left, #79c7c5 40%, #F9FBFF 100%);
    font-family: 'Lato', sans-serif;
  }


.container{
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    overflow: hidden;
}
.listOfUsers{
    width: 30%;
    height: 100%;
    overflow-x: hidden;
    color: #777777;
    
    background: rgba(255, 255, 255, 0.1);
    
 
}
.chatArea{
    width: 70%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
   
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(#777777, 0.5);
    
    
}
.chatHeader{
    position: fixed;
    width: 70%;
    height: 40px;
    
    text-align: center;
    line-height: 40px;
    
    
    font-family: "Lato", sans-serif;
    
  text-transform: uppercase;
  color: #777777;
  font-size: .8em;
  letter-spacing: 2px;
  font-weight: 500;
  
  
  background: #F9FBFF;
  border-radius: 10px 10px 0 0;
}
.chatControls{
    display: flex;
    position: fixed;
    width: 70%;
    height: 50px;
    bottom: 0;
}
.chatControls textarea{
    width: 90%;
    background-color: #ccc;
    border-radius: 15px ;
    padding: 10px;
}


.displayName{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
    cursor: pointer;
}

.displayName.active{
    background: #ccc;
}

.displayName .displayPic{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
}

.displayName .displayPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.messageStyle{
    background: skyblue;
    
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;

    
  background: #F9FBFF;
  opacity: 0.5;
  
  height: 70%;
  top: 2.5%;
  left: 5%;
  
  box-shadow: -5px 5px 10px rgba(#7777, .5);
    
}
textarea{
    background: rgba(255, 255, 255, 0.03);
}

textarea {
  
  border: 0;
  top: 13px;
  background: #F9FBFF;
  color: #79c7c5;
}

input::placeholder {
  color: #a1e2d9;
}





.messageSections{
    height: calc(100% - 90px);
    width: 100%;
    overflow-x: hidden;
    position: relative;
    top: 40px;
}

.onlineStatus{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #16e316;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #16e316;
}
.onlineStatus.off{
    background: green;
    box-shadow: 0 0 0 0;
}
button {
           
        
        
        
        
    cursor: pointer;

    color: #a1e2d9;

    border-radius: 20px;
    margin-left: 2px;
border: 1px solid #3498db;
background-color: #3498db;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
}


button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

